.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    .menu-item{

        .telecom-icon{
            width: 5rem;
            margin-bottom: 3vh;
        }
    }
}