.header{
    height: 10vh;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .options{
        height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .option{
            
            .home-icon{
                width: 2rem;
                fill: orange;
            }

            .gear-icon{
                width: 2.5rem;
                fill: red;
            }
        }
    }
}